body {
    background-color: #dedede;
    font-family: 'Poppins', sans-serif;
}

.api {
    margin-left: 2.4%;
    margin-top: 3%;
    list-style-type: none;
}

.h {
  width: 94%;
  height: 5% !important;
  background-color: #4666f7 !important;     
}

.h p{
  padding: 9px 10px;
}


.h:hover {
    background-color: #264cf1 !important; 
}
.api {
    color: white;
}


.api div {
    padding: 0px;
    width: 90%;
    height: 35%;
    background-color: #a0a0a0; 
}